<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyAfRLyzEHdxGDCWf2xwLz4CR3E5fT8P3ZA</string>
	<key>GCM_SENDER_ID</key>
	<string>299559896156</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.carUber.RunnerTests</string>
	<key>PROJECT_ID</key>
	<string>flutter-uber-clone-32dcc</string>
	<key>STORAGE_BUCKET</key>
	<string>flutter-uber-clone-32dcc.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:299559896156:ios:20c797225f606f90a59299</string>
</dict>
</plist>